<div class="hero">
    <div class="backdrop">
        <div class="lazyloaded">
            <img class="lazyload image" src="https://image.tmdb.org/t/p/original/{{ movie?.backdrop_path }}">
        </div>
    </div>
    <div class="pane">
        <div>
            <div class="name">{{ movie?.title }}</div>
            <div class="meta">
                <div class="info">
                    <span class="rate">
                        <i class="material-icons">star</i><span>{{ movie?.vote_average }}</span> /10
                    </span>
                    <span> {{movie?.vote_count  }} Reviews</span>
                    <span>{{movie?.release_date | date: 'yyyy' }}</span>
                    <span>{{movie?.runtime   }}</span>
                </div>
            </div>
            <div class="desc">{{ movie?.overview }}</div>
            <button type="button" class="button button--icon trailer" >
                <span class="mr-2"><img src="assets/images/play.svg"></span>
                <span class="txt">Watch Trailer</span>
            </button>
        </div>
    </div>
</div>
