<!-- <h1>Welcome to movies!</h1>
<div class="listing">
    <ng-container *ngIf="movies">
        <div class="row">
            <div class="col-md-2 listing__items" *ngFor="let movie of movies | slice:0:18">
                <div>
                    <div class="listing-item-style">
                        <div class="overlay">
                            <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
                        </div>
                        <img *ngIf="movie" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
                            [alt]="movie.title ? movie.title : movie.name">
                        <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png"
                            [alt]="movie.title ? movie.title : movie.name">
                        <h6>{{ movie?.title }}</h6>
                        <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
                        <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div> -->


<div class="row">
    <div class="column" *ngFor="let movie of movies">
        <div class="card">
            <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>  
                <img *ngIf="movie" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
                [alt]="movie.title ? movie.title : movie.name">
                <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png"
                    [alt]="movie.title ? movie.title : movie.name">   
                <h6>{{ movie?.title }}</h6>
                <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
                <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span></p>
        </div>
    </div>
</div>