
.listing {
    margin: 2.5rem 1.5rem;
  
    @media (min-width: 640px) {
      margin: 3rem 1.5rem;
    }
  
    @media (min-width: 1200px) {
      margin: 5.1rem;
    }
  }

  .movie-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
  }
  
  .movie-card h2 {
    font-size: 1.5rem;
  }
  
  .movie-card button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  
  .listing__head {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5rem;
  
    @media (min-width: 1200px) {
      margin-bottom: 2rem;
    }
  }
  
  .listing__title {
    font-size: 1.8rem;
    letter-spacing: 0.4px;
  
    @media (min-width: 1200px) {
      font-size: 2.4rem;
    }
  }
  
  .listing__explore {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #2196f3;
    letter-spacing: 0.4px;
  
    @media (min-width: 1200px) {
      font-size: 1.4rem;
    }
  
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
  
  
  /* .listing-item-style {
    background-color: #212121;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #040404;
    border-radius: 5px;
    margin: 11px 5px 11px;
    position: relative;
    cursor: pointer;
  
    &:focus {
      outline-style: none;
    }
  
    img {
      width: 100%;
      transition: all .5s ease-out;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  
    h6 {
      font-size: 14px;
      overflow: hidden;
      margin: 5px 4px;
      text-transform: uppercase;
      font-family: Dosis, sans-serif;
      font-weight: 700;
      padding: 2px 2px;
      color: #fff;
      width: auto;
      white-space: nowrap;
      text-overflow: ellipsis;

    }
  
    .rate {
      font-size: 12px;
      background: rgba(11, 26, 42, .95);
      padding: 1px 7px;
      border-radius: 5px;
      position: absolute;
      top: 0px;
      left: 8px;
  
      i {
        font-size: 16px;
        margin-right: 5px;
      }
  
      .material-icons {
        color: #dc4666;
      }
  
      span {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }
  
    .year {
      position: absolute;
      left: 6px;
      background: rgba(11, 26, 42, 0.95);
      padding: 1px 7px;
      border-radius: 5px;
      top: auto;
      bottom: 21px;
      color: #fff;
      pointer-events: none;
      font-size: 14px;
      font-weight: 400;
    }
  } */
  
  @media (max-width: 640px) {
    .listing-item-style{
      margin: 5px;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }
  
  
  .hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Dosis, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #4678dc;
    padding: 8px 15px;
    z-index: 2;
    width: 120px;
    height: 38px;
    border-radius: 1px;
    cursor: pointer;
    transition: all .5s ease-out;
    
    i {
      position: absolute;
      line-height: 25px;
      font-size: 13px;
      left: 13px;
    }
  }
  
  .listing-item-style:hover .overlay {
    opacity: 1;
  }
  
   img {
    width:100%;
    height: auto;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    /*effects the movie cards, 20% has 5 on a normal laptop screen*/
    //width: 20%;
    width: 14%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 5px;
    margin-top: 1em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #040404;
    border-radius: 5px;
    margin: 11px 5px 11px;
    position: relative;
    cursor: pointer;

  }

  .ownlisting:hover .overlay{
    opacity: 1;
  }


.playnow-button {
  padding-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  
}

.searchdesign{
  height: 44px;
  background: #f9f9f9;
  border: 1px solid #716e6e;
  color: #fff;
  font-size: 15px;
}

.btnDesign{
  height: 44px;
  border-radius: 0;
  width: 55px;
  background: #dc4666;
  border: #dc4666;
}
// .hover:playnow-button{
//   padding-right: 51%;
// }